RecipeMealPlanner/core/core/__pycache__
RecipeMealPlanner/core/home/__pycache__
RecipeMealPlanner/core/home/migrations
venv
CustomizingPhoneNumberAuthentication/newton/accounts/__pycache__
CustomizingPhoneNumberAuthentication/newton/accounts/migrations
CustomizingPhoneNumberAuthentication/newton/newton/__pycache__
